exportPattern("^[[:alpha:]]+")
S3method(print, perm.cs.hom)
S3method(print, perm.oneway.anova)
S3method(print, perm.paired.loc)
S3method(print, perm.ts.ind)
S3method(print, perm.two.var)
importFrom("graphics", "abline", "hist", "legend")
importFrom("stats", "chisq.test", "cor", "oneway.test", "rbinom", "sd")
importFrom("utils", "stack", "type.convert")
